h1, h2, h3, h4, h5, p {
   color: black;
}


body {
    background-color: darkgoldenrod;
}

button {
    width: 100px;
    padding: 10px;
    background-color: rgb(90, 128, 34);
    border: none;
    color: black;
    border-radius: 5%;
    cursor: pointer;
}

.nav-wrapper{
    font-color: black
    background-color: chartreuse !important;
   }

   fieldset {
    background-color: #eeeeee;
  }
  
  legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
  }
  
  input {
    margin: 5px;
  }

  form {
    width: 20%;
}

iframe:focus {
    outline: none;
  }
  
  iframe[seamless] {
    display: block;
  }

  table, th, td {
    border: 1px solid black;
  }

  details > summary {
    padding: 4px;
    width: 200px;
    background-color: #eeeeee;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
  }
  
  details > p {
    background-color: #eeeeee;
    padding: 4px;
    margin: 0;
    box-shadow: 1px 1px 2px #bbbbbb;
  }